{% extends "../layouts/base.njk" %}

{% from "card/macro.njk" import idskCard -%}
{% from "button/macro.njk" import idskButton -%}

{% block content %}

    <div class="container">

        {{ idskCard({
            "type": "hero",
            "imgSrc": "/public/images/idsk-logo.svg",
            "link": "https://idsk.gov.sk",
            "heading": "ID-SK Frontend",
            "description": "ID-SK Frontend – Jednotný dizajn manuál elektronických služieb a webových sídiel"
        }) }}

        {{ idskButton({
            "text": "Zobraziť príklad stránky",
            "href": "/homepage",
            "isStartButton": true
        }) }}

    </div>

{% endblock %}
