<!DOCTYPE html>
<html>

<head>
  <title>IDSK príklad použitia</title>

  <link rel="stylesheet" href="public/styles/main.css">
  {% block styles %}{% endblock %}
</head>

<body>

{% block content %}{% endblock %}

<script  src="idsk/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>
</body>

</html>
